.nav-bar {
  background-color: #dbeafe;
  display: flex;
  align-items: center;
  padding: 15px;
}

.nxt-slides-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.nav-bar-heading {
  font-family: 'Bree Serif';
  font-size: 30px;
  margin: 0;
}

/* ----------------- */

.content-container {
  background-color: #f3f3f3;
  height: 85vh;
  padding-top: 15px;
}

.new-btn {
  background-color: #dbeafe;
  border-radius: 7px;
  border: 0;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.plus-icon {
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.btn-text {
  font-family: 'Bree Serif';
  font-size: 17px;
  margin: 0;
}

.slides-content-container {
  height: 75vh;
  display: flex;
}

.slides-container {
  width: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.slides-list-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.slides-list-item {
  display: flex;
  padding: 15px 20px;
  padding-left: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.slide-index {
  font-family: 'Roboto';
  font-size: 17px;
  color: #475569;
  margin-right: 10px;
}

.slide-card {
  background-color: #ffffff;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png ');
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px #bfbfbf;
  width: 190px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-card-heading {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #0967d2;
  margin: 0;
}

.slide-card-description {
  font-family: 'Bree Serif';
  font-size: 18px;
  color: #334155;
  text-align: center;
  margin: 0;
}

.display-slide-container {
  padding: 30px 20px;
  width: 100%;
}

.display-slide-content-container {
  height: 65vh;
  width: 100%;
  background-color: #ffffff;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png ');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.display-slide-heading {
  font-family: 'Bree Serif';
  font-size: 60px;
  color: #0967d2;
  margin: 0;
  margin-bottom: 30px;
}

.display-slide-description {
  font-family: 'Bree Serif';
  font-size: 35px;
  color: #334155;
  text-align: center;
  margin: 0;
}

.input-container {
  padding: 15px;
  background-color: #dbeafe;
  border: none;
  outline: none;
}
.active-slide {
  background-color: #dbeafe;
}
